.about-us {
    width: 100%;
    height: auto;
    margin-top: -300px;
}

.about-us__container {
    display: flex;
    justify-content: space-between;
}

.about-us__info {
    max-width: 555px;
}

.about-us__info p {
    color: #60606e;
    font-size: 16px;
}

.about-us__button {
    height: 50px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #7beec7;
    color: #fff;
    float: right;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .about-us {
        margin-top: 30px;
    }
    .about-us__img img {
        width: 270px;
        margin-right: 13px;
    }
}

@media (max-width: 320px) {
    .about-us__container {
        flex-direction: column;
    }
    .about-us__img img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

